<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">Masters</a></li>
            <li><a href="#">Tax Codes</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">
                            Tax Codes
                            <a href="javascript:void(0)" class="btn-refresh" ng-click="refresh()" data-toggle="tooltip" title="Refresh">
                                <img class="img-refresh" src="./resources/assets/images/refresh-arrow.svg" alt="Refresh" />
                            </a>
                        </h2>
                        <p>Total - <span class="orange-txt"><span class="count">0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable-top--right_wrapper">
                        <ul class="dataTable-top--right_group list-inline">
                            <li><a href="#!/tax-pkg/tax-code/add" class="addNew-data">add new</a></li>
                            <li><input class="filterTable" type="text" placeholder="Search" id="search"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="tax_code" class="display table">
                    <thead>
                        <tr id="dynamic_head">
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="bootbox modal fade action-confirm-modal" tabindex="-1" id="delete_tax_code" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: 0px;">×</button>
                <div class="bootbox-body">Do you want to delete this tax code?</div>
            </div>
            <input type="hidden" name="tax_code_id" id="tax_code_id" value="">
            <div class="modal-footer"><button data-bb-handler="cancel" type="button" class="btn btn-danger" data-dismiss="modal">No</button><button data-bb-handler="confirm" type="button" class="btn btn-success" ng-click="deleteConfirm()" data-dismiss="modal">Yes</button></div>
        </div>
    </div>
</div>
<!-- Modal -->