<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">Masters</a></li>
            <li><a href="#">Tax Codes</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">
                            Tax Codes
                            <a href="javascript:void(0)" class="btn-refresh" ng-click="refresh()" data-toggle="tooltip" title="Refresh">
                                <img class="img-refresh" src="./resources/assets/images/refresh-arrow.svg" alt="Refresh" />
                            </a>
                        </h2>
                        <p>Total - <span class="orange-txt"><span class="count">0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable-top--right_wrapper">
                        <ul class="dataTable-top--right_group list-inline">
                            <li><a href="#!/tax-pkg/tax-code/add" class="addNew-data">add new</a></li>
                            <li><input class="filterTable" type="text" placeholder="Search" id="search"></li>
                            <li>
                                <img src="<% $ctrl.filter_img_url %>" class="filterToggle">
                                <div class="filter-wrapper" id='filterticket'>
                                    <div class="filter-overlay"></div>
                                    <div class="filter-content">
                                        <div class="filter-header">
                                            <h2>Filter</h2>
                                        </div>
                                        <div class="filter-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input ng-model="$ctrl.dealer_employee_name" class="form-control filter-input" type="text" placeholder="Enter Name" autocomplete="off" id="dealer_employee_name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input ng-model="$ctrl.email" class="form-control filter-input" type="text" placeholder="Enter Email" autocomplete="off" id="email">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-autocomplete class="filter-input" md-items="option in $ctrl.searchDealersCodes($ctrl.dealersSearchText)" md-selected-item-change="onDealerCodeSelect($ctrl.dealer_code.id)" md-input-id="autoFocusId" md-selected-item="$ctrl.dealer_code" md-search-text="$ctrl.dealersSearchText" md-item-text="option.code" md-min-length="3" placeholder="Search Dealer" md-clear-button="true" md-no-cache="true">
                                                            <md-item-template>
                                                                <span>
                                                                    {{option.code}}
                                                                </span>
                                                            </md-item-template>
                                                            <md-not-found>
                                                                No matching "{{$ctrl.dealersSearchText}}" were found.
                                                            </md-not-found>
                                                        </md-autocomplete>
                                                        <input type="hidden" id="dealer_id" value="{{$ctrl.dealer_code.id}}">
                                                    </div><!-- Field -->
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-autocomplete class="filter-input" md-items="option in $ctrl.searchClients($ctrl.clientsSearchText)" md-selected-item-change="onClientSelect($ctrl.client_name.id)" md-input-id="autoFocusId" md-selected-item="$ctrl.client_name" md-search-text="$ctrl.clientsSearchText" md-item-text="option.name" md-min-length="3" placeholder="Search Client" md-clear-button="true" md-no-cache="true">
                                                            <md-item-template>
                                                                <span>
                                                                    {{option.name}}
                                                                </span>
                                                            </md-item-template>
                                                            <md-not-found>
                                                                No matching "{{$ctrl.clientsSearchText}}" were found.
                                                            </md-not-found>
                                                        </md-autocomplete>
                                                        <input type="hidden" id="client_id" value="{{$ctrl.client_name.id}}">
                                                    </div><!-- Field -->
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.status_id" placeholder="Select Status" ng-change="onSelectedStatus($ctrl.status_id)">
                                                            <md-option ng-repeat="val in $ctrl.extras.status_list" value="{{val.id}}">{{val.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="status_id" value="{{$ctrl.status_id}}" id="status_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="filter-btns">
                                                            <a href="javascript:;" class="reset-filter  btn btn-primary yellow" ng-click="resetFilter();$ctrl.status_id='';$ctrl.dealer_code='';$ctrl.client_name='';$ctrl.dealersSearchText='';">RESET</a>
                                                            <a href="javascript:;" class="close-filter btn btn-primary">CLOSE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="tax_code" class="display table">
                    <thead>
                        <tr id="dynamic_head">
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="bootbox modal fade action-confirm-modal" tabindex="-1" id="delete_tax_code" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: 0px;">×</button>
                <div class="bootbox-body">Do you want to delete this tax code?</div>
            </div>
            <input type="hidden" name="tax_code_id" id="tax_code_id" value="">
            <div class="modal-footer"><button data-bb-handler="cancel" type="button" class="btn btn-danger" data-dismiss="modal">No</button><button data-bb-handler="confirm" type="button" class="btn btn-success" ng-click="deleteConfirm()" data-dismiss="modal">Yes</button></div>
        </div>
    </div>
</div>
<!-- Modal -->