<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/tax-pkg/tax/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>Add Tax</b></h1>
                    <p class="subtitle">Tax List / Form</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->

    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <div class="page-tab-form pb-70">
            <div class="tab-form-wrap">
                <div class="tab-form-header">
                    <div class="tab-header">
                            <!-- Filters -->
                        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                            <ul class="nav nav-pills cndn-tabs">
                                <li class="active"><a class="filter active" data-target="#category-information" data-toggle="tab" aria-expanded="true">Taxes</a></li>
                            </ul>
                        </div><!-- Filters -->  
                    </div><!-- Tab Header -->
                </div><!-- Tab Form Header -->
                <div class="tab-form-body">
                    <div class="tab-content">
                        <!-- TAB PANEL -->
                        <div class="tab-pane fade in active" id="category-information" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-text form-group">
                                            <label>Tax Name <sup class="mandatory">*</sup></label>
                                            <input class="form-control" placeholder="Enter Tax Name" autocomplete="off" ng-model="$ctrl.tax.name"/>
                                        </div><!-- Feild -->
                                    </div><!-- Column -->
                                    <div class="col-md-3">
                                        <div class="input-text form-group">
                                            <label>Tax Type <sup class="mandatory">*</sup></label>
                                             <md-select class="type-sm form-control" ng-model="selectedDrinks" placeholder="Select any one" md-on-close="clearSearchDrink()" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchDrink" type="search" placeholder="Search  Tax Type" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="drinks">
                                                        <md-option ng-value="drink" ng-repeat="drink in drinks | filter:searchDrink">{{drink}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                        </div><!-- Feild -->
                                    </div><!-- Column -->
                                    <div class="col-md-3">
                                        <div class="input-text form-group">
                                            <label>Status <sup class="mandatory">*</sup></label>
                                            <div class="tab-switch">
                                                <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                    {{ $ctrl.switch_value }}
                                                </md-switch>
                                            </div>
                                        </div><!-- Form Group -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-primary btn-nxt">Next</a>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->

                        <div class="tab-pane fade" id="sub-category-information" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="tab-pane-wrap">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <h6 class="tab-pane-title">Category : <span class="color-primary-light">Sales</span></h6>
                                        <div class="table-responsive">
                                            <table class="table table-form">
                                                <thead>
                                                    <tr>
                                                        <th>Sub Category Name</th>
                                                        <th>Active Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control type-sm" placeholder="Enter Sub Category" />
                                                        </td>
                                                        <td>
                                                            <div class="tab-switch">
                                                                <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn type-sm">
                                                                    {{ $ctrl.switch_value }}
                                                                </md-switch>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control type-sm" placeholder="Enter Sub Category" />
                                                        </td>
                                                        <td>
                                                            <div class="tab-switch">
                                                                <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn type-sm">
                                                                    {{ $ctrl.switch_value }}
                                                                </md-switch>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control type-sm" placeholder="Enter Sub Category" />
                                                        </td>
                                                        <td>
                                                            <div class="tab-switch">
                                                                <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn type-sm">
                                                                    {{ $ctrl.switch_value }}
                                                                </md-switch>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3">
                                                            <button type="button" class="btn btn-primary-light btn-square">+ Add Sub Category</button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div><!-- Table Responsive -->
                                    </div><!-- Column -->
                                    <div class="tab-pane-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-secondary btn-prev">Previous</a>
                                                <button type="button" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div><!-- Tab Footer -->
                                </div><!-- Row -->
                            </div><!-- Tab Pane Wrap -->
                        </div><!-- Tabe Pane -->
                    </div><!-- Tab Content -->   
                </div><!-- Tab Form Body -->
            </div><!-- Tab Form Wrap -->
        </div><!-- Page Form -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->